@font-face {
    font-family: 'nobilebold_italic';
    src: url('/assets/nobile-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/nobile-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}